build/*
!build/.gitkeep
Tars-ng.zip
.idea/
__pycache__/
original_data/
papers/
results/article_utilities/
application/labels
application/predictions
preprocessing/OrganSegmentations/
todo.txt
preprocessing/histograms/
train_log.csv
